<div class="container-fluid position-fixed bg-white" style="z-index: 1;">
    <div class="d-flex w-100 header py-4">
        <div class="border my-auto px-2">
            <img class="img-fluid imgs " src="assets/images/logo.svg" >
        </div>
        <div class="border pt-1"> 
            <ul class="d-flex my-auto mx-4 list-unstyled ">
                <li class="mx-2">Create</li>
                <li class="mx-2">Template</li>
                <li class="mx-2">Tools</li>
                <li class="mx-2">Resources</li>
            </ul>
        </div>
        <div class="d-flex text-end  btn-login ">
            <div class="mx-3 text-center my-auto">
                <a>Login</a>
            </div>
            <div class="mx-1">
                <button class="rounded-pill  py-1 px-4 border-1 ">Try for me</button>
            </div>            
        </div>
    </div> 
</div>  
