<!-- slider -->

<div class="container">
    <p>angular</p>
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
</div>


<!-- right sidbar menu  -->

<div class="d-flex bg-secondary  container-fluid position-fixed  pt-2 pb-1 px-2  menu-z-view small-scr-menu ">
  <div class=" my-auto px-2">
    <img class="img-fluid imgs " src="assets/images/logo.svg" >
  </div>         
    
  <div id="menuToggle" class="small-menu">
   
    <input type="checkbox" />
    
   
    <span></span>
    <span></span>
    <span></span>
    
   
    <ul id="menu" class="">
      <a href="https://www.google.com/"><li>Home</li></a>
      <a href="https://www.google.com/"><li>About</li></a>
      <a href="https://www.google.com/"><li>Info</li></a>
      <a href="https://www.google.com/"><li>Contact</li></a>
      <a href="https://www.google.com/" target="_blank"><li>Show me more</li></a>
    </ul>
  </div>     
  
</div>

