<!-- <div class="container-fluid">
    <div class="row">
        <div >
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item w-100 h-100" src="//ak02-video-cdn.slidely.com/static/promo-videos/promo-com/promo.com_BG_v2.webm"></iframe>
              </div>
            <video class="col-12" muted="muted" loop="loop" autoplay="autoplay" playsinline="" class="show" src="//ak02-video-cdn.slidely.com/static/promo-videos/promo-com/promo.com_BG_v2.webm">            </video>
        </div>
    </div>

</div> -->

<div id="content d-flex"> 
    <a href="#nav" ><span>Click Here</span></a>
    <div class="expandable" id="nav">
      <p>Cum enim magna parturient</p>
    </div>
    <a href="#nav2"><span>Click Here</span></a>
    <div class="expandable" id="nav2">
      <p>Cum enim magna parturient</p>
    </div>
  </div> 


  <!-- <div class="container-fluid">
    <main>
     
      <video class="w-100" src="//ak02-video-cdn.slidely.com/static/promo-videos/promo-com/promo.com_BG_v2.webm" class="w-100" muted="muted" loop="loop" autoplay="autoplay" playsinline=""  ></video>
     
    </main>

  </div>

  <video class="w-100" muted="muted" loop="loop" autoplay="autoplay" playsinline="" class="show" src="//ak02-video-cdn.slidely.com/static/promo-videos/promo-com/promo.com_BG_v2.webm"></video>
 -->

  <!---->

  <!-- <div class="container-fluid ">
    <div class="row">
      <div class="col-12">
        <div class="relative">
          <video class="w-100" src="//ak02-video-cdn.slidely.com/static/promo-videos/promo-com/promo.com_BG_v2.webm"  muted="muted" loop="loop" autoplay="autoplay" playsinline=""  ></video>
          <div class="d-flex absolute">
            <span class="text-center" style="margin: auto;">
              <div class="my-1">
                <button> view </button>
              </div>
              <div class="my-1">
                <button> view </button>
              </div>
            </span>
          </div>          
        </div>
      </div>
    </div> -->



    <div class="container-fluid ">
  
        
          <div class="relative">
            <video class="w-100" src="//ak02-video-cdn.slidely.com/static/promo-videos/promo-com/promo.com_BG_v2.webm"  muted="muted" loop="loop" autoplay="autoplay" playsinline=""  ></video>
            <div class="d-flex absolute">
              <span class="text-center" style="margin: auto;">
                <div class="my-1">
                  <button> view </button>
                </div>
                <div class="my-1">
                  <button> view </button>
                </div>
              </span>
            </div>          
          
      </div>


    <div class="container-fluid" >   
      <div class="position-relative">
          <video class="w-100" src="//ak02-video-cdn.slidely.com/static/promo-videos/promo-com/promo.com_BG_v2.webm"  muted="muted" loop="loop" autoplay="autoplay" playsinline=""  ></video>
          <div class="d-flex position-absolute main-video-content">
              <span class="text-center" style="margin: auto;" >
                <div>
                  <p>video</p>
                </div>
                  
              </span>
          </div>
      </div>      
  </div>



  <!-- <div class="video video--square" data-ratio="1:1"
    data-videourl="https://ak02-video-cdn.slidely.com/static/promo-videos/hp/videos/square8.mp4"
    data-video-id="5b56f0f9b5729856440f1b87">
    <img alt="square8" class="lozad"
      data-src="https://ak02-promo-cdn.slidely.com/static/promo-videos/hp/videos/thums/small/square8.jpg"
      src="https://ak02-promo-cdn.slidely.com/static/promo-videos/hp/videos/thums/small/square8.jpg" data-loaded="true">

    <video loop="" preload="auto" muted="" style="z-index: 0;">
      <source type="video/mp4" src="https://ak02-video-cdn.slidely.com/static/promo-videos/hp/videos/square8.mp4">
      </video>

    <div class="video-container-wrapper">
      <div class="video-container ratio-square">
      </div>
      <button class="customize-btn btn-hp--round btn-hp" data-video-id="5b56f0f9b5729856440f1b87">Customize</button>
    </div>
    <div class="video-cover video-cover--v2">
      <a href="/templates/video/vacation-mode" title="Vacation Mode" class="video-cover__preview">
        Preview
      </a>
      <button class="video-cover__customize">Customize</button>
    </div>
  </div> -->


  <div class="conatiner">

    <div class="d-flex row flex-sm-row-reverse  justify-content-between ">            
      <div class="col-lg-6 col-md-12 border ">
        <div class="position-relative">
          <img class="img-fluid" src="assets/images/lottie-img1.jfif">
          <div class="position-absolute absolute-video-cls text-center ">
            <video poster="https://ak03-promo-cdn.slidely.com/images/promoVideos/homepage/iphone-girl.jpg/1652793612" muted="muted" loop="loop" autoplay="autoplay" playsinline="" src="https://ak03-video-cdn.slidely.com/static/promo-videos/hp/videos/homepage_02_Layer01_v1-1.mp4" class="lottie-video">
            </video>
          </div>  
        </div>
        
          
      </div>
      <div class="col-lg-5 col-md-12 my-auto content-txt ">
        <h1><strong>Power your business <span class="d-block"></span>with unlimited videos</strong></h1>
        <p class="para-txt">Bring any idea to life in minutes - by yourself. Easily create compelling video ads, social media videos, product videos, explainer videos and more. The perfect solution for giving your brand a voice at scale.</p>
        <button class="rounded-pill text-light bg-dark py-2 px-4 my-2 ">Try for free</button>
    </div>
      
  </div>

  </div>